<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>
      Welcome to my crypto blog! This is a space where we explore the fascinating and ever-evolving world of cryptocurrency. From Bitcoin to Ethereum and beyond, we'll delve into the technology, economics, and culture surrounding these digital assets. Whether you're a seasoned crypto enthusiast or just starting to dip your toes into this exciting space, I hope this blog provides valuable insights and perspectives. Join me on this journey as we uncover the potential of blockchain technology and its impact on our world.
    </p>
  </div>

</body>
</html>